# Method for storing the dataset
Store as pandas DataFrame

In [25]:
import numpy as np
import matplotlib.pyplot as plt
import cv2
import os
import pandas as pd

DATADIR = "/home/hanna/Documents/KEX/SoCoF/archive/SOCOFing/Real"
IMG_SIZE = 100

In [4]:
feat_dict = {
    "M" : 0,
    "F" : 1,
    "Left" : 0,
    "Right" : 1,
    "thumb" : 0,
    "index" : 1,
    "middle" : 2,
    "ring" : 3,
    "little" : 4
    }

In [20]:
def get_attributes(img):
    split_img = img.split('_')
    idty = split_img[0]
    gend = feat_dict[split_img[2]]
    hand = feat_dict[split_img[3]]
    fing = feat_dict[split_img[4]]
    return idty,gend,hand,fing

In [21]:
def create_training_data():
    training_data = []
    for img in os.listdir(DATADIR):
        img_array = cv2.imread(os.path.join(DATADIR,img), cv2.IMREAD_GRAYSCALE)
        new_array = cv2.resize(img_array, (IMG_SIZE, IMG_SIZE))
        idty,gend,hand,fing = get_attributes(img)
        training_data.append([new_array,idty,gend,hand,fing])
    return(training_data)

In [22]:
training_data = create_training_data()

In [23]:
print(len(training_data))

6000

In [27]:
# Store data in pandas DataFrame
df = pd.DataFrame(training_data, columns=["Image","Identity","Gender","Hand","Finger"])

In [30]:
# Save data to csv file "images.csv"
df.to_csv('images.csv',index=False)

In [31]:
# Read file and store the data in DataFrame df
df = pd.read_csv('images.csv')

,Image,Identity,Gender,Hand,Finger
0,[[160 159 159 ... 0 0 0]\n [160 108 111 ...,229,0,0,2
1,[[160 159 159 ... 0 0 0]\n [160 108 111 ...,169,1,1,4
2,[[160 159 159 ... 0 0 0]\n [160 108 111 ...,356,0,0,4
3,[[160 159 159 ... 0 0 0]\n [160 108 111 ...,352,0,0,3
4,[[160 159 159 ... 0 0 0]\n [160 108 111 ...,406,0,0,1
...,...,...,...,...,...
5995,[[160 159 159 ... 0 0 0]\n [160 108 111 ...,314,0,1,2
5996,[[160 159 159 ... 0 0 0]\n [160 108 111 ...,254,0,0,2
5997,[[160 159 159 ... 0 0 0]\n [160 108 111 ...,441,0,0,3
5998,[[160 159 159 ... 0 0 0]\n [160 108 111 ...,137,0,0,3
5999,[[160 159 159 ... 0 0 0]\n [160 108 111 ...,212,0,1,4